<!DOCTYPE html>
<html>
<head>
  <title>Voima</title>
  <%= stylesheet_link_tag    "voima/application", media: "all" %>
  <%= javascript_include_tag "voima/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
